{% extends 'dummy.html' %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block body_block %}
<center>
    {% if obj %}
<table border="3px">
    <tr>
        <th>Username</th>
        <th>City</th>
        <th>Temperatue</th>
        <th>Humidity</th>
        <th>Weather</th>
        <th>Speed</th>
        <th>Timestamp</th>
    </tr>
    <tr>
        <td>{{obj.username}}</td>
        <td>{{obj.city}}</td>
        <td>{{obj.temparatue}}</td>
        <td>{{obj.humidity}}</td>
        <td>{{obj.weather}}</td>
        <td>{{obj.speed}}</td>
        <td>{{obj.timestamp}}</td>
    </tr>
</table>
{% else %}
<form method="POST">
    {% csrf_token %}
    <br>
    <label for="city">City: </label>
    <input type="text" name="city" id="city" placeholder="Enter City Name">
    <br><br>
    <input type="submit" value="Enter">
</form>
{% endif %}

</center>



{% endblock %}